<%- include("partials/header.ejs") %>

<style>
	body{
	background: url(https://images.pexels.com/photos/169211/pexels-photo-169211.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
  background-size: cover;
	}
</style>

<div style="text-align:center;margin:40px 0">
	<h1 style="font-size:1.8em;color:white">
		Welcome to D-EVENT
	</h1>
	<p style="font-size:1.8em;color:grey">
		Use our website to cherish the most out of your D-Event
	</p>
	<button style="width:300px;background-color:lightblue;">
		<a href="/events">Events Page</a>
	</button>
	
</div>

</body>
</html>